# Editor files
.idea/
.vscode/

# Dependency directories
node_modules/

# Environmentas configuration files
.env

# Dependency lock files
yarn.lock
package-lock.json

build/
tmp/
temp/

IGNORE.txt




